In [ ]:
#Titanic Dateset
#This Solution achieves: 77% Accuracy on Titanic Dataset.
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
trainDataset = 'data/train.csv'
testDataset = 'data/test.csv'

In [23]:
train = pd.read_csv(trainDataset)
test = pd.read_csv(testDataset)

In [24]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [25]:
train, test = train.drop(['Age', 'Ticket', 'Cabin', 'Name'], axis = 1), test.drop(['Age', 'Ticket', 'Cabin', 'Name'], axis=1) #Drop irrelevant features

In [ ]:
# Seperate features and labels..
X = train.drop('Survived', axis = 1)
y = train['Survived']

In [27]:
#Train/Test Split

X_train, X_val, y_train, y_val = train_test_split(
    X,
    y,
    test_size = 0.2,
    random_state = 42,
    stratify = y
)

In [28]:
cat_cols = ["Sex", "Embarked", "Pclass"] # categories to one hot encode

preprocess = ColumnTransformer(
    [
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols)
    ],
    remainder = "passthrough",
)

In [29]:
preprocess.fit(X_train)
X_train = preprocess.transform(X_train)
X_test = preprocess.transform(X_val)
test_enc = preprocess.transform(test)

In [30]:
rf = RandomForestClassifier(
    n_estimators = 100,
    max_depth = 4,
    random_state = 42
)

rf.fit(X_train, y_train)
print("train score: ", rf.score(X_train, y_train))
print("Validaiton score: ", rf.score(X_test, y_val))

train score:  0.827247191011236
Validaiton score:  0.7932960893854749

In [31]:
test_preds = rf.predict(test_enc)

In [32]:
submission = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Survived": test_preds
})

submission.to_csv("submission2.csv", index=False)